alembic
blinker
click
exceptiongroup
Faker
Flask
Flask-Cors
Flask-Migrate
Flask-SQLAlchemy
greenlet
importlib_metadata
importlib_resources
iniconfig
itsdangerous
Jinja2
Mako
MarkupSafe
marshmallow
marshmallow-sqlalchemy
packaging
pluggy
pytest
python-dateutil
six
SQLAlchemy
SQLAlchemy-serializer
tomli
typing_extensions
Werkzeug
zipp
gunicorn
flask_jwt_extended
